@model IEnumerable<Tuan1.Models.News>
@{
    ViewBag.Title = "Index";
}

<h2>Mô tả</h2>

@foreach (var item in Model)
{
    <ul>
        <li>
            <p>@item.Description</p>
        </li>
    </ul>
}