@model IEnumerable<Tuan1.Models.Category>

@{
    ViewBag.Title = "Home Page";
}

<h2>Danh muc</h2>

@foreach (var item in Model)
{
    <ul>

        <li>
            <a href="@item.Alias">@item.Name</a>
        </li>

    </ul>
}
